# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test outputs
*.test
*.out
coverage.out

# Go workspace files
go.work
go.work.sum

# Dependency vendor dir
vendor/

# Build artifacts
dist/
.bench/

# OS/editor files
.DS_Store
.idea/
.vscode/
